@import "tailwindcss";

body {
    overflow:hidden;
    width: 100%;
    height: 100dvh;
    @apply bg-[url('/src/assets/images/body-bg-mobile.png')] md:bg-[url('/src/assets/images/body-bg.png')] bg-size-[100%_100%] bg-center
}